{{ void(this.setTitle(translate('main','Добавить запись'))) }}
<div class="action-content">
    
    {{ use('app/widgets/EForm/EForm') }}
    {% set form = e_form_begin({
    'htmlOptions' : {
    'id' : 'exampleForm',
    'method' : 'post',
    'action' : organizationPath({0: '/example/add', id: model.id})
    }
    }) %}
    
    <!-- attribute='x' Обязательный аттрибут для формы на бекбоне -->
    <div class="form-group" attribute="name" >
        <label class="control-label">Name</label>
        <input type="text" name="name" class="form-control" value="{{ model.name }}" placeholder="Name" />
    </div>

    <div class="form-group" attribute="one_attr" >
        <label class="control-label">one</label>
        <input type="text" name="one" class="form-control" value="{{ model.one_attr }}" placeholder="one_attr" />
    </div>

    <div class="form-group" attribute="two_attr" >
        <label class="control-label">two</label>
        <input type="text" name="two" class="form-control" value="{{ model.two_attr }}" placeholder="two_attr" />
    </div>

    <div class="form-group" attribute="three_attr" >
        <label class="control-label">three</label>
        <input type="text" name="three" class="form-control" value="{{ model.three_attr }}" placeholder="three_attr" />
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary">{{ translate('main', 'Сохранить') }}</button>
    </div>
    
</div>