{{ void(this.setTitle(translate('main','Восстановление пароля'))) }}
<div class="action-content">
    <div>
        {{ use('app/widgets/EForm/EForm') }}
        {% set form = e_form_begin({
            'htmlOptions' : {
            'id' : 'recoveryForm',
            'method' : 'post',
            'action' : path(['/auth/recovery'])
        }
        }) %}

        <div class="form-group" attribute="fk">
            <div class="input-group">
                <input type="hidden" type="text" class="form-control" name="fk" value="{{ model.fk }}" />
            </div>
        </div>

        <div class="form-group" attribute="password">
            <label for="exampleInputEmail1">{{ translate('main', 'Новый пароль') }}</label>
            <div class="input-group">
                <span class="input-group-addon text-light-gray" id="basic-addon1"><i class="fa fa-certificate"></i></span>
                <input autocomplete="off" type="password" class="form-control" name="password" />
            </div>
            <small id="emailHelp" class="form-text text-muted">{{ translate('main', '') }}</small>
        </div>

        <div class="form-group" attribute="password_duplicate">
            <label for="exampleInputEmail1">{{ translate('main', 'Повторите пароль') }}</label>
            <div class="input-group">
                <span class="input-group-addon text-light-gray" id="basic-addon2"><i class="fa fa-certificate"></i></span>
                <input autocomplete="off" type="password" class="form-control" name="password_duplicate" />
            </div>
            <small id="emailHelp" class="form-text text-muted">{{ translate('main', '') }}</small>
        </div>

        <div class="form-group">
            <input style="width:100%;" type="submit" class="text-center btn btn-success" value="{{ translate('main','Сменить пароль') }}" />
        </div>
        {{ e_form_end() }}
    </div>
</div>