{{ void(this.setTitle(translate('main','Восстановление пароля'))) }}
<div class="action-content">
    {{ use('app/widgets/EForm/EForm') }}
    {% set form = e_form_begin({
    'htmlOptions' : {
    'id' : 'restoreForm',
    'method' : 'post',
    'action' : path(['/auth/restore'])
    }
    }) %}

    <div class="error-form"></div>

    <div class="form-group" attribute="email">
        <label for="exampleInputEmail1">{{ translate('main', 'Ваш email') }}</label>
        <div class="input-group">
            <span class="input-group-addon text-light-gray" id="basic-addon1"><i class="fa fa-envelope"></i></span>
            <input autocomplete="off" type="text" class="form-control" name="email" placeholder="Email"/>
        </div>
        <small id="emailHelp" class="form-text text-muted">{{ translate('main', '') }}</small>
    </div>

    <div class="form-group row" attribute="verifyCode">
        {{ use('app/widgets/ECaptcha/ECaptcha') }}
        {{ e_captcha_widget({'name': 'verifyCode'}) }}
    </div>

    <div class="form-group">
        <input style="width:100%;" type="submit" class="text-center btn btn-success"
               value="{{ translate('main','Восстановить') }}"/>
    </div>

    <div class="form-group mt">
        <a href="{{ path(['auth/registration']) }}" style="width:100%; cursor:pointer;" type="submit"
           class="btn btn-info text-center">{{ translate('main','Регистрация') }}</a>
    </div>
    {{ e_form_end() }}
</div>