<div class="main-header sticky-top top-header border-danger bg-danger" style="border-bottom:2px solid;">
    <div class="row justify-content-center" style="margin:0;">
        <div class="{{ getDataAttribute('layout_class') ? getDataAttribute('layout_class') : "col-12" }}">

            <div class="row" style="height:60px">

                <div class="col-auto d-sm-block d-lg-none align-self-center pl-3">
                    <a style="margin-top:-4px; display:inline-block; font-size:1.8rem;" class="pointer text-white show-menu"><i class="fa fa-bars"></i></a>
                </div>

                {% if app.user.id %}
                    {% set current_org = staticCall('common/models/Organizations', 'getCurrentOrganization') %}
                    <div class="col-auto align-self-center pr-5 pl-3">
                        {% set current_org = staticCall('common/models/Organizations', 'getCurrentOrganization') %}
                        {% if app.user.identity.organizationsList|length > 1 %}
                            <div class="btn-group">
                                <h5 class="mb-0 text-uppercase text-white pointer dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if current_org %}
                                        <span class="truncate" style="max-width:700px">{{ current_org.nameByLang }}</span>
                                    {% else %}
                                        {{ translate('main','Выберите организацию') }}
                                    {% endif %}
                                </h5>
                                <div class="dropdown-menu">
                                    {% for org in app.user.identity.organizationsList %}
                                        <a class="dropdown-item" href="{{ path({0: '/cabinet/base/change-organization', 'organization_id': org.id}) }}">{{ org.nameByLang }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% elseif current_org %}
                            <h5 class="mb-0 text-uppercase text-white"><span class="truncate" style="max-width:700px">{{ current_org.nameByLang }}</span></h5>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="col align-self-center ml-auto">
                    {% if app.user.id %}
                        <ul class="nav nav-pills">
                            {% for item in menu %}
                                {% if (item.role == null or app.user.can(item.role)) %}
                                    {% if (item.type == 'dropdown') %}
                                        <li class="nav-item {{ item.class }} relative">
                                            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><h6>
                                                    {{ item.caption }}
                                                </h6></a>
                                            <div class="dropdown-menu">
                                                {% for dr_item in item.items %}
                                                    {% if (dr_item.role == null or app.user.can(dr_item.role)) %}
                                                        <a class="dropdown-item {{ this.context.id == dr_item.name  ? "text-warning" : "text-light-gray" }}" href="{{ dr_item.url }}">
                                                            <h6>{{ dr_item.caption }}</h6>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="nav-item {{ item.class }}">
                                            <a class="nav-link {{ ((this.context.id == item.name) or (this.context.module.id == item.name)) ? 'text-warning' : 'text-light-gray' }}" href="{{ item.url }}"><h6>{{ item.caption }}</h6></a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="col-auto align-self-center mr-2">
                    {{ use('app/widgets/ENotifications/ENotifications') }}
                    {{ e_notifications_widget() }}
                </div>

                {% set context = this.context.module.id == 'app' ? this.context.id : this.context.module.id %}
                {% if staticCall("common/models/Instructions", "getInstruction", [
                    context
                ]) %}
                    <div class="col-auto align-self-center mr-2">
                        <a style="font-size:1.8rem;" class="text-white" href="{{ organizationPath({0: '/main/download', 'instruction' : context}) }}"><i class="fa fa-question-circle"></i></a>
                    </div>
                {% endif %}

                <div class="text-white col-auto align-self-center mr-4">
                    <a class="text-white" target="_full" href="{{ organizationPath({0: '/auth/language', ln : "ru-RU", return: app.request.url}) }}">RU</a>
                    |
                    <a class="text-white" target="_full" href="{{ organizationPath({0: '/auth/language', ln : "kk-KZ", return: app.request.url}) }}">KZ</a>
                </div>
                <div class="col-auto text-right align-self-center pr-3">
                    {% if app.user.isGuest %}
                    {% else %}
                        <a class="font-bold text-white" href="{{ path('/auth/logout') }}">{{ translate('main','Выйти') }}</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>



    {#<div class="color-line">#}
    {#<div class="bg-info"></div>#}
    {#<div class="bg-primary"></div>#}
    {#<div class="bg-success-light"></div>#}
    {#<div class="bg-success"></div>#}
    {#<div class="bg-purple-light"></div>#}
    {#<div class="bg-purple"></div>#}
    {#<div class="bg-danger-light"></div>#}
    {#<div class="bg-danger"></div>#}
    {#<div class="bg-warning-light"></div>#}
    {#<div class="bg-warning"></div>#}
    {#</div>#}

</div>